.container{
  display: flex;
  flex-wrap: wrap;
}
.image-container{
  border: 1px solid black;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.image-container img{
  width: 200px;
  height: 200px;
}

.table__container {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: blueviolet;
  color: white;
}
td, th {
  border: 1.2px solid black;
  padding: 4px;
}
.toggle__button {
  background-color: aqua;
  border: none;
  font-size: large;
  font-weight: bold;
  width: 100px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 50px;
}
.light__mode{
  background-color: aquamarine;
  color: rgb(6, 78, 54);
  height: 100vh;
}
.dark__mode{
  background-color: rgb(6, 78, 54);
  color: aquamarine;
  height: 100vh;
}
button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}